



* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #feefc1;

}


#header {
    font-family: "Betania Patmos In", cursive;
    font-weight: 400;
    font-style: normal;

    text-align: center;
}






#container {

    display: flex;
    flex-wrap: wrap;


    margin: 30px;


}



#container div {
    margin: 20px;
    padding: 10px;
    border: 2px solid grey;



}


#container div img:hover {

    opacity: 0.8;
    transition: 0.7ms;
}


#container p {
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;



    text-align: center;
    border: 2px solid black;
}